/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body */

body{
    font-family:Arial, sans-serif;
    background-color:#f4f4f4;
}

/* Header */

header{
    background:#0077cc;
    color:white;
    text-align:center;
    padding:30px;
}

header h1{
    font-size:40px;
}

header p{
    margin-top:10px;
}

/* Navigation */

nav{
    background:#333;
}

nav ul{
    list-style:none;
    display:flex;
    justify-content:center;
}

nav ul li{
    padding:15px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

nav ul li:hover{
    background:#0077cc;
    transition:0.5s;
}


